<div class="login-section" ng-controller="registerController">
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card card-signin my-5">
					<div class="card-body">
						<h5 class="card-title text-center">User Login</h5>
						<div class="form-signin" ng-form="loginForm" novalidate>
							<div class="form-label-group">
								<input type="email" id="inputEmail" name="inputEmail" class="form-control pointer" placeholder="Email address" ng-required="true" data-ng-model="user.lg.model.email" ng-class="{'error-box': user.lg.isSubmit && (loginForm.inputEmail.$error.required || loginForm.inputEmail.$error.email)}" autofocus>
								<label for="inputEmail" class="pointer">Email address</label>
							</div>
							<div class="form-label-group">
								<input type="password" id="inputPassword" name="inputPassword" class="form-control pointer" placeholder="Password" ng-required="true" data-ng-model="user.lg.model.password" ng-class="{'error-box': user.lg.isSubmit && loginForm.inputPassword.$error.required}">
								<label for="inputPassword" class="pointer">Password</label>
							</div>
							<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" ng-click="user.lg.submit(loginForm)">Login</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
