<div class="register-section" ng-controller="registerController">
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card card-signin my-5">
					<div class="card-body">
						<h5 class="card-title text-center">User Register</h5>
						<div class="form-signin" ng-form="registerForm" novalidate>
							<div class="form-label-group">
								<input type="text" id="inputFirstName" name="inputFirstName" class="form-control pointer" placeholder="First Name" ng-required="true" data-ng-model="user.reg.model.firstName" ng-class="{'error-box': user.reg.isSubmit && registerForm.inputFirstName.$error.required}" autofocus>
								<label for="inputFirstName" class="pointer">First Name</label>
							</div>
							<div class="form-label-group">
								<input type="text" id="inputLastName" name="inputLastName" class="form-control pointer" placeholder="Last Name" ng-required="true" data-ng-model="user.reg.model.lastName" ng-class="{'error-box': user.reg.isSubmit && registerForm.inputLastName.$error.required}">
								<label for="inputLastName" class="pointer">Last Name</label>
							</div>
							<div class="form-label-group">
								<input type="email" id="inputEmail" name="inputEmail" class="form-control pointer" placeholder="Email address" ng-required="true" data-ng-model="user.reg.model.email" ng-class="{'error-box': user.reg.isSubmit && (registerForm.inputEmail.$error.required || registerForm.inputEmail.$error.email)}">
								<label for="inputEmail" class="pointer">Email address</label>
							</div>
							<div class="form-label-group">
								<input type="password" id="inputPassword" name="inputPassword" class="form-control pointer" placeholder="Password" ng-required="true" data-ng-model="user.reg.model.password" ng-class="{'error-box': user.reg.isSubmit && registerForm.inputPassword.$error.required}">
								<label for="inputPassword" class="pointer">Password</label>
							</div>
							<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" ng-click="user.reg.submit(registerForm)" ng-disabled="user.reg.isLoading"> <span data-ng-if="user.reg.isLoading">Loading...</span> <span data-ng-if="!user.reg.isLoading">Register</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>