<!DOCTYPE html>
<html>
<head>
	<title>Login And Register</title>
    <link rel="stylesheet" href="/build/style.min.css">
    
    <script type="text/javascript" src="/build/script.min.js"></script>
    <script type="text/javascript" src="/angular/app.js"></script>
    <script type="text/javascript" src="/angular/routes/routes.js"></script>
    <script type="text/javascript" src="/angular/controllers/register.js"></script>
</head>
<body ng-app="logRegModule">
    <div ng-controller="registerController">
        <header data-ng-include="'/view/header.html'"></header>
    </div>
    <div id="content">
    	<section>
    		<div ui-view></div>
    	</section>
    </div>
</body>
</html>
